{% set form = hookable_metadata.context.form %}

<div class="row" {{ sylius_test_html_attribute('config-webhook-secret-key') }} >
    <div class="col">
        {{ form_label(form) }}
        {{ form_widget(form, sylius_test_form_attribute('webhook-secret-key')) }}
        {{ form_help(form) }}
    </div>
    <div class="col-auto">
        {{ form_row(form.vars.button_delete, sylius_test_form_attribute('delete-webhook-secret-key')) }}
    </div>
    {{ form_errors(form) }}
</div>
