{% set form = hookable_metadata.context.form.gatewayConfig.config.webhook_secret_keys %}

<div class="col-12{{ form.vars.valid ?: ' border rounded border-danger' }}">
    {{ form_label(form) }}
    <div class="col alert alert-info">
        <div class="d-flex align-items-center">
            <div>{{ ux_icon('tabler:info-circle', {'class': 'icon alert-icon'}) }}</div>
            <div>
                <p>
                    {{ 'flux_se_sylius_payum_stripe_plugin.form.gateway_configuration.stripe.info.webhook_secret_key'|trans }}
                    <a href="https://docs.stripe.com/webhooks" target="_blank" rel="noopener noreferrer">
                        {{ 'sylius.ui.view_more'|trans }}
                    </a>
                </p>
                <p>
                    <a href="https://dashboard.stripe.com/workbench/webhooks/create" target="_blank" rel="noopener noreferrer">
                        {{ 'flux_se_sylius_payum_stripe_plugin.form.gateway_configuration.stripe.action.webhook_secret_key'|trans }}
                    </a>
                </p>
            </div>
        </div>
    </div>

    {{ form_errors(form) }}

    <div {{ sylius_test_html_attribute('webhook-secret-keys') }} >
        {% for child_form in form %}
            {% hook 'webhook_secret_keys' with { form: child_form } %}
        {% endfor %}

        {{ form_row(form.vars.button_add, sylius_test_form_attribute('add-webhook-secret-key')) }}
    </div>

</div>
